{% extends 'base.html' %}

{% block content %}
    <h1>新增工作人員    </h1>

    <form method="post">
        {% csrf_token %}
        <div class="input-container">
            <label for="user_id">使用者ID:</label>
            <input type="text" id="user_id" name="user_id" class="input-field" value="{{ staff.user_id }}" autocomplete="off">
        </div>
        <div class="input-container">
            <label for="s_c_name">中文名稱:</label>
            <input type="text" id="s_c_name" name="s_c_name" class="input-field" value="{{ staff.s_c_name }}" autocomplete="off">
        </div>
        <div class="input-container">
            <label for="s_e_name">英文名稱:</label>
            <input type="text" id="s_e_name" name="s_e_name" class="input-field" value="{{ staff.s_e_name }}" autocomplete="off">
        </div>
        <div class="input-container">
            <label for="position">職稱:</label>
            <input type="text" id="position" name="position" class="input-field" value="{{ staff.position }}" autocomplete="off">
        </div>
        <div class="input-container">
            <label for="dept">科室:</label>
            <input type="text" id="dept" name="dept" class="input-field" value="{{ staff.dept }}" autocomplete="off">
        </div>
        <div class="input-container">
            <label for="user_name">帳號:</label>
            <input type="text" id="username" name="username" class="input-field" value="{{ staff.username }}" autocomplete="off">
        </div>
        <div class="input-container">
            <label for="password">密碼:</label>
            <input type="text" id="password" name="password" class="input-field" value="{{ staff.password }}" autocomplete="off">
        </div>
        <!-- 添加其他表单字段以接受员工信息 -->

        <div style="display: inline-block; margin-left: 20px;">
            <button type="submit"  class="btn btn-primary">儲存</button>
        </div>

        <div style="display: inline-block; margin-left: 20px;">
            <a href="{% url 'staff_list' %}" class="btn btn-primary">返回</a>
        </div>
    </form>
    <style>
        /* 在你的CSS文件中 */
        .input-field {
            border: 1px solid #000;
            padding: 4px;
            display: flex;
            align-items: center;
            margin-bottom: 10px;

        }

        /* 设置光标样式 */
        .input-field:focus {
            outline: none; /* 移除默认的外框样式 */
            border: 1px solid #000; /* 设置输入框的边框 */
            caret-color: #000; /* 设置光标颜色 */
        }

        .input-field label {
            width: 120px; /* 设置标签宽度 */
            margin-right: 10px; /* 设置标签和输入框之间的间距 */
        }

        .input-field input {
            flex: 1; /* 使用 flex 属性将输入框填充剩余的可用空间 */

        }
    </style>
{% endblock %}